<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C3: Clube de computação capivara</title>
    <meta name="description"
        content="O primeiro hacker club da região da Serra da Capivara, dedicado a promover, democratizar e difundir a cultura tech colaborativa e inclusiva. ">
    <meta name="keywords"
        content="C3, Clube de Computação Capivara, Serra da Capivara, tecnologia, programação, desenvolvimento, inovação, comunidade technológica">
    <meta name="author" content="C3 - Clube de Computação Capivara">
    <meta name="robots" content="index, follow">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        'sans': ['Inter', 'system-ui', 'sans-serif'],
                        'mono': ['JetBrains Mono', 'monospace'],
                    },
                    colors: {
                        'dark': '#0f0f0f',
                        'darker': '#0a0a0a',
                        'accent': '#9c3e32',
                        'accent-light': '#9c3e32',
                        'muted': '#adacac',
                        'border': '#262626',
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-darker text-white font-sans antialiased">

    <div class="flex flex-col min-h-screen justify-center items-center">
        <div class="space-y-4 mb-12  items-center text-center">
            <h2 class="text-3xl md:text-4xl font-bold">Página Não Encontrada</h2>
            <p class="text-gray-400 text-lg font-mono md:text-xl max-w-2xl mx-auto">
                Eita! A página que você está procurando não existe ou foi movida.
            </p>
            <div class="mono text-blue-500 text-sm">
                <span class="text-gray-500">&gt;</span> Error: <span class="text-red-400">ENOENT</span> - Resource not found
            </div>
        </div>

         <div class="flex flex-col sm:flex-row mt-10 gap-4 justify-center">
            <a href="/"
                class="px-8 py-4 bg-accent hover:bg-accent-light text-white rounded-full font-black transition-all shadow-lg shadow-accent/20 hover:shadow-accent/40">
                <i class="fas fa-home  mr-2"></i>Voltar para a página Inicial
            </a>
          
        </div>

        
        <div class="mt-12 text-gray-500 text-sm mono">
            <p>© Clube de Computação Capivara (C3)</p>
        </div>
    </div>



</body>

</html>